<section class="section collection-cta">
  <div class="container">
    <div class="collection-cta-inner">
      <a class="button button-primary" href="{{ routes.all_products_collection_url }}">Shop the vault</a>
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Collection CTA",
  "settings": [],
  "presets": [{"name": "Collection CTA"}]
}
{% endschema %}
